:root {
    --main-pair-pattern-top-color: #6e5b5e;
    --main-pair-pattern-bottom-color: #5d4b4c;
    --main-pair-pattern-gradient: linear-gradient(180deg, var(--main-pair-pattern-top-color) 0%, var(--main-pair-pattern-bottom-color) 100%);
    --main-odd-pattern-top-color: #61656c;
    --main-odd-pattern-bottom-color: #4e555a;
    --main-odd-pattern-gradient: linear-gradient(180deg, var(--main-odd-pattern-top-color) 0%, var(--main-odd-pattern-bottom-color) 100%);
    --main-container-color: #5e696f;
    --main-header-color: #3e494f;
    --main-menu-color: #384247;
    --main-button-hover-color: #515b61;
    --main-dropdown-color: #f1f1f1;
    --main-dropdown-hover-color: #d8dbdc;
}

html, body {
    margin: 0;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    background: grey;
    font-family: Arial, Helvetica, sans-serif;
}

ul, ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu {
    background-color: var(--main-menu-color);
    z-index: 10;
}

.menu li {
    display: inline;
}

.menu button {
    padding: 5px 10px;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    transition: background-color .1s ease-in-out;
    color: white;
}

.menu button:hover,
.menu button:focus {
    background-color: var(--main-button-hover-color);
}

.menu .dropdown-content,
.menu .dropdown-content .sub-dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--main-dropdown-color);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.menu .dropdown-content .sub-dropdown-content {
    left: 100%;
    top: 40%;
}

.menu .dropdown-content button {
    color: black;
    width: 100%;
    text-align: left;
    display: block;
}

.menu .dropdown-content button:hover,
.menu .dropdown-content button:focus {
    background-color: var(--main-dropdown-hover-color);
}

.menu .dropdown:focus-within .dropdown-content {
    display: block;
}

.menu .sub-dropdown:hover .sub-dropdown-content,
.menu .sub-dropdown:focus-within .sub-dropdown-content {
    display: block;
}

.menu .dropdown-content button span {
    float: right;
}

section {
    height: 100%;
    width: 100%;
}

.container {
    position: absolute;
    background: var(--main-container-color);
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
    overflow: hidden;
    border: 4px solid var(--main-header-color);
    width: 600px;
    border-radius: 3px;
    z-index: 0;
}

.container.maximized {
    height: calc(100vh - 33px);
    width: calc(100vw - 8px);
    top: 25px !important;
    left: 0px !important;
}

.header, .footer {
    background: var(--main-header-color);
    height: 20px;
}

.header {
    padding: 5px 15px 9px 15px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}

.window-title {
    color: white;
}

.right-header {
    display: flex;
}

.right-header button {
    height: 21px;
    display: flex;
    align-items: center;
    margin-left: 5px;
}

.right-header .button .text {
    min-width: 0;
    width: 25px;
}

.content {
    padding: 10px;
    overflow: auto;
}

.pattern-track.row {
    display: flex;
    padding: 5px;
    justify-content: space-between;
}

.button .text {
    color: #dddddd;
    min-width: 135px;
}

.button {
    width: 100%;
    padding: 0;
    background: linear-gradient(180deg, rgba(92,103,109,1) 0%, rgba(67,78,84,1) 100%);
    border: 1px solid #2a2a2a;
    border-radius: 3px;
    cursor: pointer;
    transition: filter .1s ease-in-out;
}

.button:hover {
    filter: brightness(1.25);
}

.button:focus {
    background: linear-gradient(180deg, rgba(67,78,84,1) 0%, rgb(51 61 66) 100%);
}

.pattern-track-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    margin-left: 15px;
}

.column.sample {
    height: 25px;
    width: 18px;
    border: 1px solid #2a2a2a;
    border-radius: 5px;
    position: relative;
    margin: 0px 1px;
}

.box-shadow {
    -webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.5); 
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.5);
}

.column.sample.active {
    filter: brightness(2);
}

.column.sample.current-step {
    filter: brightness(2.5);
}

.column.sample.pair {
    background: var(--main-pair-pattern-gradient);
}

.column.sample.odd {
    background: var(--main-odd-pattern-gradient);
}

